<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ApontamentoResult"
            android:exported="false" />
        <activity
            android:name=".FormApontAdm"
            android:exported="false" />
        <activity
            android:name=".FormGerenciarUser"
            android:exported="false" />
        <activity
            android:name=".FormGerenciarClient"
            android:exported="false" />
        <activity
            android:name=".FormGerenciarProj"
            android:exported="false" />
        <activity
            android:name=".FormBemVindoAdm"
            android:exported="false" />
        <activity
            android:name=".FormProfile"
            android:exported="false" />
        <activity
            android:name=".ListaApontamento"
            android:exported="false" />
        <activity
            android:name=".FormApontamento"
            android:exported="false" />
        <activity
            android:name=".FormBemVindo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AppBreis"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>